@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-1: #7fc6c0;
  --color-bg-2: #5fa9a2;
  --color-bg-3: #4d8882;

  --color-text-1: #222222;
  --color-text-2: #444444;
  --color-text-accent: #0a3d3a;

  --color-button-1: #0a3d3a;
  --color-button-2: #81d8d0;

  --color-text-button-1: #ffffff;
  --color-text-button-2: #222222;

  --color-button-hover: #1e3a5f;
  --color-button-hover-text: #ffffff;
  --color-button-active: #1e3a5f;

  --color-bg-nav: #4c8f88;
  --color-text-nav: #f0f0f0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  color: var(--color-text-1);
  background-color: var(--color-bg-2);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}

.main {
  flex: 1;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
  text-align: center;
}
