.word-wrapper {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  flex-grow: var(--grow);
  flex-basis: 0;
  min-width: max-content;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: visible;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    opacity 0.3s ease,
    transform 0.2s ease,
    border-color 0.2s ease;
  touch-action: none;
  user-select: none;
}

.word {
  position: relative;
  z-index: 3;
  flex-grow: 1;
  width: auto;
  padding: 10px 18px;
  border-radius: 8px;
  white-space: nowrap;
  color: #ffffff;
  text-align: center;
  background-color: #6d4bd1;
  cursor: grab;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    opacity 0.3s ease,
    transform 0.2s ease,
    border-color 0.2s ease;
}

.word_mask {
  z-index: 2;
  -webkit-mask: radial-gradient(circle 10px at 0% 50%, transparent 98%, black 100%);
  mask: radial-gradient(circle 10px at 0% 50%, transparent 98%, black 100%);
}

.word-wrapper__edge {
  position: absolute;
  top: 50%;
  right: -10px;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6d4bd1;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    opacity 0.3s ease,
    transform 0.2s ease,
    border-color 0.2s ease;
  transform: translateY(-50%);
}

@media (hover: hover) and (pointer: fine) {
  .word-wrapper:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    /* background-color: #927add; */
  }
}

.word-wrapper:active {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: grabbing;
  transform: scale(1.05);
}

.word-wrapper_result {
  border: 1px solid #b7a9ee;
  border-radius: 0;
  opacity: 0.7;
}

.word-wrapper:not(.word-wrapper_result) {
  box-shadow: none;
}

.word-wrapper.correct {
  animation: correctSentence 1s ease forwards;
}

.word-wrapper.correct .word-wrapper__edge,
.word-wrapper.correct .word {
  background-color: #184823;
  pointer-events: none;
}

@keyframes correctSentence {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.word-wrapper.wrong {
  animation: wrongSentence 1s ease forwards;
}

.word-wrapper.wrong .word-wrapper__edge,
.word-wrapper.wrong .word {
  background-color: #b62b29;
}

@keyframes wrongSentence {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2px, 2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  90% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.dragging {
  z-index: 1000;
  cursor: pointer;
}

.word-wrapper.dragging .word,
.word-wrapper.dragging .word-wrapper__edge {
  background-color: #b19110;
}

.mobile-dragging {
  position: fixed;
  z-index: 1000;
  color: #000;
  pointer-events: none;
}

.word-wrapper.mobile-dragging .word,
.word-wrapper.mobile-dragging .word-wrapper__edge {
  background-color: #b19110;
}
