.hint {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.5;
}

.hint.active {
  transform: scale(1.1);
  opacity: 1;
}

.hint__icon {
  width: 32px;
  height: 32px;
}

.hint__text {
  position: absolute;
  top: -38px;
  right: 50%;
  padding: 10px 8px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  color: #222222;
  background: rgba(61, 21, 106, 0.4);
  transition: opacity 0.3s;
  transform: translateX(0);
  opacity: 0;
  pointer-events: none;
}

.hint:hover .hint__text {
  opacity: 1;
}

.translation {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #4b3c77;
  background-color: #ebe6f6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
