.sentence {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
  width: 720px;
}

.sentence_done {
  pointer-events: none;
}

.sentence.container_drag-over {
  border: none;
}
