.car {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.car svg {
  position: absolute;
  top: 8px;
  left: 0;
  transition: transform 0s;
}

.car-buttons,
.animation-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.car__track {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 15px;
}

.car__track-line {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: repeating-linear-gradient(to right, #888888 0 5px, transparent 5px 10px);
  transform: translateY(-50%);
}

.car__track-line.blink {
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  0% {
    background-image: repeating-linear-gradient(to right, #888888 0 5px, transparent 5px 10px);
  }
  100% {
    background-image: repeating-linear-gradient(to right, #9e9c1f 0 5px, transparent 5px 10px);
  }
}

.race__finish {
  position: absolute;
  top: -5px;
  right: 110px;
  width: 44px;
}

.car-buttons {
  margin-bottom: 5px;
}

.car-button {
  width: 120px;
  padding: 8px 15px;
  font-size: 14px;
  background-color: #333333;
}

@media (hover: hover) and (pointer: fine) {
  .car-button:hover:not(:disabled) {
    background-color: #777777;
  }
}

.car-button:active:not(:disabled) {
  background-color: #777777;
}

.animation-buttons {
  margin-bottom: 10px;
}

.animation-button {
  width: 85px;
  padding: 8px 10px;
  font-size: 14px;
}

.start-button {
  background-color: #276c42;
}

@media (hover: hover) and (pointer: fine) {
  .start-button:hover:not(:disabled) {
    background-color: #0c461e;
  }
}

.start-button:active:not(:disabled) {
  background-color: #0c461e;
}

.stop-button {
  background-color: #a72924;
}

@media (hover: hover) and (pointer: fine) {
  .stop-button:hover:not(:disabled) {
    background-color: rgb(58, 16, 6);
  }
}

.stop-button:active:not(:disabled) {
  background-color: rgb(58, 16, 6);
}

.car__name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

@media screen and (max-width: 550px) {
  .car-button {
    width: 100px;
    padding: 8px 12px;
    font-size: 12px;
  }

  .car-buttons,
  .animation-buttons {
    gap: 10px;
  }

  .animation-button {
    width: 85px;
    padding: 8px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .car-button {
    width: 90px;
  }
  .animation-button {
    width: 75px;
  }
}
