.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  opacity: 1;
  pointer-events: none;
}

.popup-overlay.visible {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  pointer-events: auto;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  padding: 30px 20px 25px;
  border-radius: 8px;
  color: #dcdcdc;
  text-align: center;
  background-color: rgba(98, 32, 29, 0.949);
  background-color: #30120a;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.connection-popup {
  color: #dcdcdc;
  background-color: #95126df2;
}

.notification-popup {
  color: #dcdcdc;
  background-color: #3d0a3b;
}

.popup-overlay.visible .popup {
  transform: translateY(0);
  opacity: 1;
}

.popup h2 {
  margin: 0 0 12px 0;
  font-size: 20px;
}

.popup p {
  margin-bottom: 20px;
  font-size: 16px;
}

.popup-button {
  margin: 10px auto 0;
  background-color: #111111;
}
