.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #000000;
  backdrop-filter: blur(6px);
}

.header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

h1 {
  font-size: 32px;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.mute-button {
  width: 35px;
  height: 35px;
  background-image: url(audio-play.svg);
  background-size: cover;
  cursor: pointer;
}

.mute-button.mute-button_active {
  background-image: url(audio-pause.svg);
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .header {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 20px;
  }
  h1 {
    font-size: 26px;
  }

  .header .nav {
    gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 24px;
  }

  .header .nav {
    gap: 15px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 18px;
  }

  .header .nav {
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 16px;
  }
}
