.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #000000;
  backdrop-filter: blur(6px);
}

.header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

h1 {
  font-size: 32px;
}
