.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.error-overlay.visible {
  opacity: 1;
  pointer-events: all;
}

.error {
  padding: 20px 35px;
  border-radius: 8px;
  color: #dcdcdc;
  text-align: center;
  background-color: #62201df2;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.error-overlay.visible .error {
  transform: translateY(0);
  opacity: 1;
}

.error h2 {
  margin: 0 0 12px 0;
  font-size: 20px;
}

.error p {
  margin-bottom: 15px;
  font-size: 16px;
}
