* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    padding: 60px 20px;
   max-width: 1440px;
   width: 100%;
}


:root {
  --white: #ffffff;
  --gray: #222222;
  --font-family: "Mulish", sans-serif;
  --second-family: "Oswald", sans-serif;

}


/* typography  */

.h1 {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 116px;
  line-height: 114%;
  text-transform: uppercase;
  color: var(--white);
  max-width: 740px;
  
}


.h2 {
    font-family: var(--second-family);
font-weight: 400;
font-size: 32px;
line-height: 125%;
text-transform: uppercase;
color: #222;
}


.h3 {
    font-family: var(--second-family);
font-weight: 400;
font-size: 20px;
line-height: 140%;
text-transform: uppercase;
color: #fff;
}


.h4 {
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
color: #222;
}

.base {
   
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
 
  text-align: center;
  color: var(--white);
}

.base-italic {
    font-family: var(--font-family);
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: #222;
}

.small {
    font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 133%;
color: var(--white)
}

.decoration {
    font-family: var(--second-family);
font-weight: 300;
font-size: 48px;
line-height: 112%;
text-transform: uppercase;
text-align: right;
color: #fff;
}


/* header  */


.header {
    height: 60px;
    background-color: var(--gray);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 18px;
    
    
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;
     font-family: var(--second-family);
      text-transform: uppercase;
    
}

.menu__list a {
  text-decoration: none;
}

.menu__burger {
    display: none;
}


/* hero section  */

.hero {
background-color: var(--gray);
}

.hero__container {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: nowrap;
gap: 40px;
}


.hero__decoration {
    padding-right: 22px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
}


.hero__signature, .hero__year {
  writing-mode: vertical-rl;
     
  text-orientation: mixed;
  transform: rotate(180deg); 
}

.hero__line  {

width: 1px;
height: 536px;
background-color: var(--white);
}



.hero__heading {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-top: 100px;
}


.hero__info {
display: flex;
flex-direction: row;
gap: 60px;
margin-bottom: 40px;
}

.hero__statistics {
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.hero__numbers {
    margin-bottom: 8px;
    
}

.hero__more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.hero__header {
    margin-bottom: 40px;
}

.hero__capture {
 margin-bottom: 160px;
}


.hero__scroll {
 display: flex;
    flex-direction: row;
    gap: 8px;
    
}


.hero__scroll-text {
    font-family: var(--font-family);
}



.hero__image-block {
    width: 15.714285%;
    display: flex;
   align-items: center;
    
    

}

.hero__image {
    
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(../assets/images/webp/img-10.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}


.hero__text {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.hero__image2 {
    width: 100%;
    aspect-ratio: 0.7486 / 1;
    background-image: url(../assets/images/webp/img-11.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero__text2 {
font-family: var(--font-family);
max-width: 220px;
text-align: right;

}


/* about me section  */

.about-me__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  
}

.about-me__container .h2 {
  margin-bottom: 12px;
  
}


.about-me__block {
 width: 31,428%;
}


.about-me__text {
font-family: var(--font-family);
color: var(--gray);
text-align: left;
}


.about-me__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.about-me__image1 {
background-image: url(../assets/images/webp/img-photographer-1.webp);
}

.about-me__image2 {
background-image: url(../assets/images/webp/img-photographer-2.webp);
margin-top: 40px;
}

.about-me__image3 {
background-image: url(../assets/images/webp/img-photographer-3.webp);
}