* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    padding: 60px 82px;
    max-width: 1440px;
}


:root {
  --white: #ffffff;
  --gray: #222222;
  --font-family: "Mulish", sans-serif;
  --second-family: "Oswald", sans-serif;

}


/* typography  */

.header-1 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 116px;
  line-height: 114%;
  text-transform: uppercase;
  color: var(--white);
}

.base {
    font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}


/* header  */

.header__container {
    background-color: var(--gray);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    list-style-type: none;
}
