/* background-color: #416a56;
  color: #ffffff; */

.results-modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: min-content;
}

.results__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #491a8e;
  text-align: center;
}

.miniature {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.miniature__image {
  width: 480px;
  height: auto;
  margin-bottom: 10px;
}

.results-modal .modal__buttons {
  justify-content: center;
}
