.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.game__round {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  color: #491a8e;
  text-align: center;
}

.source,
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 30px;
}

.result__heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #491a8e;
  text-align: center;
  text-transform: uppercase;
}

.result__placeholder {
  padding: 12px 8px;
  border: 2px dashed #6d4bd1;
  border-radius: 8px;
  font-style: italic;
  color: #333333;
  text-align: center;
  transition: opacity 0.3s;
  pointer-events: none;
  user-select: none;
}

.word {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: auto;
  min-width: 70px;
  max-width: 220px;
  padding: 10px 18px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  color: #ffffff;
  background-color: #6d4bd1;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    opacity 0.3s ease;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .word:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    /* background-color: #927add; */
  }
}

.word:active {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.word_result {
  box-shadow: 0 0 0 2px #b7a9ee;
  opacity: 0.7;
}

.word:not(.word_result) {
  box-shadow: none;
}

.word.correct {
  background-color: #184823;
  animation: correctSentence 1s ease forwards;
}

@keyframes correctSentence {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.game__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.game__back-button,
.game__continue-button {
  min-width: 200px;
}
