.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.source {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2px;
  width: 720px;
  min-height: 45px;
  margin-bottom: 30px;
}

.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  width: 720px;
  min-height: 40px;
  margin-bottom: 30px;
  border: 8px solid #492471;
  border-radius: 12px;
  overflow: hidden;
  transition: background-image 1s ease;
}

.result.revealed {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  background-image: var(--image);
  background-position: center;
  background-size: cover;
}

.result.revealed .word-wrapper {
  opacity: 0;
}

.result__heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #491a8e;
  text-align: center;
  text-transform: uppercase;
}

.result__placeholder {
  width: 100%;
  margin: 0 auto;
  padding: 12px 8px;
  border: 2px dashed #6d4bd1;
  border-radius: 8px;
  font-style: italic;
  color: #333333;
  text-align: center;
  transition: opacity 0.3s;
  pointer-events: none;
  user-select: none;
}

.game__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.button.game__continue-button {
  background-color: #113d61;
}

@media (hover: hover) and (pointer: fine) {
  .button.game__continue-button:hover {
    background-color: #0b2b46;
  }
}

.container_drag-over {
  border: 2px dashed #7256c9;
  transition: border-color 0.2s ease;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.level-selection {
  display: flex;
  gap: 10px;
}

.hint-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.hint-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 25px;
}

.translation {
  padding: 8px 10px;
  border-radius: 4px;
  background: rgba(245, 245, 0, 0.3);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(-5px);
  opacity: 0;
  pointer-events: none;
}

.translation.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.audio {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(-5px);
  opacity: 0;
  pointer-events: none;
}

.audio.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.audio .hint__icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.audio .hint__text {
  position: absolute;
  top: -42px;
  right: -50%;
}

.audio.playing {
  animation: audioPlay 0.5s infinite alternate;
}

@keyframes audioPlay {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1);
  }
}

.progress-notification {
  position: fixed;
  top: 55px;
  left: 50%;
  z-index: 1000;
  padding: 12px 22px;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  background: #e0d6c8;
  transition: opacity 0.5s ease;
  transform: translateX(-50%);
  opacity: 0;
}

.progress-notification.visible {
  opacity: 1;
}

.image-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;

  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.4),
    0 0 3px rgba(0, 0, 0, 0.2);
}
